<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>The Grand Piano Shop</h1>
<h2>In this shop I sell all kinds of pianos from cheap to expensive, from big to small.</h2>
<img src= "static/images/download.jpeg">
<br>
<h1>Grand Piano: 24,000$</h1>
<br>
<h2>The Grand Piano is iur most expensive and valuable piano, we sold over a 100 of these.</h2>
<a href= "/GrandPiano"><button> Grand Piano </button></a>

<br>
<br>

<img src= "static/images/images.jpeg">
<br>
<h1>YAMAHA Black Piano: 10,000$</h1>
<br>
<h2>The YAMAHA Black Piano is our most popular piano, it is avrage in cost and a lot of people are able to buy it.</h2>
<br>
<br>

<img src= "static/images/images (1).jpeg">
<br>
<h1>Black Electric Piano: 18,000$</h1>
<br>
<h2>The Black Electric piano is our new piano, we started selling it only a few month ago, he is quite expensive, but i assure you, it is worth it.</h2>
<br>
<br>

<img src= "static/images/images (2).jpeg"> 
<br>
<h1>Schumann Black Piano: 22,000$</h1>
<br>
<h2>The Schumann Black Piano is our least bought piano, if you want my advice... Do Not buy this piano, it is not worth it.</h2>
<br>
<br>

<img src= "static/images/images (3).jpeg">
<h1>Schumann Red Piano: 120$</h1>
<br>
<h2>The Red Schumann is a small piano for children to play with it, it is not a real piano, although it works as a real piano, I do not suggest you try it.</h2>
<br>

<button>
</body>
</html>